/* General
 * ------- */
body {
	background: #eee;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 0;
}
button {
	border: 2px solid #fff;
	background: #ddd;
	font-size: 12px;
	margin: 0;
	padding: 2px 5px;
}
button:hover {
	cursor: pointer;
	border: 2px solid #000;
}
label {
	padding: 5px 0;
}

/* Content, menu
 * ------------- */
#content {
	background: #fff;
	border: 1px solid #aaa;
	margin: 0 auto;
	padding: 15px 15px 50px 15px;
	position: relative;
	top: 20px;
	width: 400px;
}
#content h3 {
	border-bottom: 1px solid #aaa;
	font-family: 'Abril Fatface', serif;
	font-size: 45px;
	font-weight: 400;
	margin: 10px 0;
	text-align: center;
}
#content .shuffle {
	left: 10px;
	position: relative;
}
#content .menu {
	margin: 0 auto;
	width: 194px;
}

/* Participants table
 * Assignments table
 * ------------------ */
table {
	border-collapse: collapse;
	position: relative;
	top: 20px;
	width: 100%;
}
table thead {
	font-weight: 700;
}
table .first {
	float: right;
	padding-right: 10px;
}
table .last {
	padding-left: 10px;
}
#participants {
	/* This table starts off hidden; it is shown when a user is added. */
	display: none;
}

/* Window box and overlay
 * ---------------------- */
.window {
	background: #fff;
	border: 1px solid #000;
	display: none;
	height: 170px;
	left: 50%;
	margin: 0 auto;
	margin-left: -200px;
	position: absolute;
	text-align: center;
	top: 120px;
	width: 400px;
	z-index: 2;
}
.window label {
	display: block;
	margin: 0 auto;
	width: 400px;
}
.window h4 {
	font-family: 'Abril Fatface', serif;
	font-size: 16px;
	margin-bottom: 10px;
}
.window .error {
	color: #ff0000;
	display: block;
	font-size: 12px;
	padding-top: 5px;
}
.window .optional {
	color: #aaa;
}
.window .name {
	width: 200px;
}
.window .label-title {
	padding-right: 5px;
}
.overlay {
	background: #000;
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: .7;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}