body {
	margin: 0;
}
.window {
	background: #000;
	display: none;
	height: 100%;
	margin: 0;
	opacity: .7;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.window h4 {
	text-decoration: underline;
}
.window div {
	background-color: #fff;
	border: 1px solid #000;
	margin: 100px auto;
	padding: 15px;
	text-align: center;
	width: 300px;
}
.window label {
	display: block;
}
.window .btn-submit {
	display: block;
	margin: 0 auto;
}
.window .error {
	color: #ff0000;
	font-size: 12px;
}